body{

	background : gray;

}

.round_edges{
	border-radius:15px;
}

.box{

	width :840px;
	height : 500px;
	background: white;

}
.step{

position:relative;
margin-left: auto;
margin-right: auto;
margin-top:50px;
}

/* Per slide CSS */
#slide_1{

	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	
}

#slide_1 h1{
font-size: 50px;
	
}

#slide_1 .author{
	font-size: 30px;
}


#slide_2{

	text-align: center;
		font-family: 'Ubuntu', sans-serif;
}

#slide_2 h1{
font-size: 50px;
	
}

#slide_2 img{
	height: 300px;
 	width: auto;
}


#slide_3{

	text-align: center;
		font-family: 'Ubuntu', sans-serif;
}

#slide_3 h3{
font-size: 35px;
	
}

#slide_3 img{
	margin-top:20px;
	margin-left:50px;
	height: 150px;
 	width: auto;
}

#slide_3 .present .transition_visibility{

}





#slide_4{

		text-align: center;
		font-family: 'Ubuntu', sans-serif;
}

#slide_4 h3{
font-size: 35px;
}

#slide_4 ul{
	position:relative;
	width:450px;
	margin:auto;
	text-align:left;
	font-size:17px;
}

#slide_4 ul li{
	width:inherit;
	margin-top:20px;
}
#slide_5{

		text-align: center;
		font-family: 'Ubuntu', sans-serif;
}

#slide_5 h3{
font-size: 35px;
}


#slide_6{

		text-align: center;
		font-family: 'Ubuntu', sans-serif;
}

#slide_6 h3{
font-size: 35px;
}


	


#slide_7{

		text-align: center;
		font-family: 'Ubuntu', sans-serif;
}



#slide_7 img{
	
	height: 360px;
 	width: auto;
}

#slide_7 h3{
font-size: 35px;
}



#slide_8{

		text-align: center;
		font-family: 'Ubuntu', sans-serif;
}



#slide_8 img{
	
	height: 360px;
 	width: auto;
}

#slide_8 h3{
font-size: 35px;
}